* {
    color: #fff;
    font-weight: bold;

    box-sizing: border-box;
}

div.caixa1{
    background-color: rgb(10, 138, 16);

    /* Borda solida */
    border: 2px solid #970303;
    border-width: 4px;
}

div.caixa2{
    background-color: rgb(57, 14, 175);

    /* Borda pontilhada */
    border: 2px dotted #970303;
    border-width: 4px;
}

div.caixa3{
    background-color: rgb(221, 224, 9);

    /*Aplicando borda somente de um lado*/
    border-bottom: 2px solid #970303;
    border-width: 4px;

}

div {
    display: inline-block;

    /* Largura */
    width: 200px;

    /* Altura */
    height: 200px;

    /* Aplicando margem com tamanhos diferentes para cada lado */
    margin: 10px 20px 30px 10px;

    /* Espaçamento interno */
    padding: 20px;

}